.button {
    background: transparent;
    border: none;
    margin-right: 5%;

}

.update-button-icon {
    transform: scale(2);
    color: #3e2723;
}


.delete-button-icon {
    transform: scale(2);
    color: #3e2723;
}



.table-row{
    padding-top: 1vh;
    padding-bottom: 1vh;
    /* margin-bottom: 1vh; */
    margin-left: 2%;
    margin-right: 2%;
    color: #3e2723;
}

.table-row:nth-child(even){
}

.header{
    border-radius: 2px;
}

.header-text{
    font-weight: bold;
    font-size: larger;
}

.table-cell{
    border-bottom: 1px solid lightgray;
    padding-bottom: 1vh;
}


.overflow-elipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-list-table{
    min-width: 96%;
    max-width: 96%;

}


.user-list-div{
    display: table;
}
