#popup-div {

    position: absolute;
    box-shadow: grey;
    top: 25%;
    left: 15%;
    width: 75%;
    border: 1px solid gray;
    padding: 2% 2% !important;
    z-index: 100;

}

.popup-visible {
    display: block;
}


.btn{
    font-weight: bold;
    color: #3e2723;
    background-color: #ffebee;

}


.popup-invisible {
    display: none;
}


.close-button {
    position: absolute;
    top: 3%;
    right: 2%;
    background: transparent;
    border: none;

}